<h2>Nhập dữ liệu: @ViewBag.Message</h2>

<form asp-action="Index" method="post">
    <input type="text" name="FullName" placeholder="Nhập họ tên" />
    <input type="date" name="BirthDay" />
    <input type="submit" value="Submit" />
</form>
